#list{color:blue;}
.card-button {

    font: var(--sub-heading);
    font-size: 2em;
    color: #2395BF;
    text-align: center;
}
img.center {
	display: block;
	margin: 0 auto;
}

body 
{
    color: gainsboro;
    text-shadow: 2px 2px 4px #000000, 0px 0px 4px #000000;
    font-family: Arial;
    -webkit-animation-direction: alternate-reverse;
    animation: myfirst 10s infinite;
    animation-direction: alternate;
}

@keyframes myfirst {
    0% {
        background: #A8ABAC;
        background-image: url('https://i.imgur.com/4aejBOF.png');
        background-repeat: no-repeat;
        background-position: center 375px;
    }
    100% {
        background: #F7B733;
        background-image: url('https://i.imgur.com/4aejBOF.png');
        background-repeat: no-repeat;
        background-position: center 375px;
    }
}