/* Set the size of the div element that contains the map */
#map {
    height: 400px; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
}

#contribute{
    margin-top: 10px;
    text-align: center;
}

#ThankYou {
    margin-top: 10px;
    text-align: center;
}

.button {
    margin-top: 25px;
    background-color: cadetblue;
    color: navajowhite;
    padding: 7.5px 20px;
    text-align: center;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 4px #999;
}

.button:hover {
    background-color: darkslateblue;
}

.button:active {
    background-color: darkblue;
    box-shadow: 0 2px #666;
    transform: translateY(2px)
}

.text {
    padding: 7.5px 20px;
    text-align: center;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 4px #999;
}

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}



.card-button {
    text-shadow: 2px 2px 4px #000000, 0px 0px 4px #000000;
    font: var(--sub-heading);
    font-size: 2em;
    color: #2395BF;
    text-align: center;
}
img.center {
    display: block;
    margin: 0 auto;
}

body 
{
    color: gainsboro;
    font-family: Arial;
    -webkit-animation-direction: alternate-reverse;
    animation: myfirst 10s infinite;
    animation-direction: alternate;
    background-image: url('https://i.imgur.com/4aejBOF.png');
    background-repeat: no-repeat;
    background-position: center 335px;
}

@keyframes myfirst {
    0% {
        background-color: #043087;
        margin-bottom: 50px;
    }
    100% {
        background-color: #2e74ff;
    }
}